USE [master]
GO
/****** Object:  Database [BdiExamen]    Script Date: 06/11/2023 02:10:58 p. m. ******/
CREATE DATABASE [BdiExamen]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BdiExamen', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BdiExamen.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BdiExamen_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BdiExamen_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BdiExamen].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BdiExamen]
GO
/****** Object:  Table [dbo].[tblExamen]    Script Date: 06/11/2023 02:10:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblExamen](
	[idExamen] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](255) NULL,
	[Descripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idExamen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TODOLIST_AGA]    Script Date: 06/11/2023 02:10:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TODOLIST_AGA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](250) NULL,
	[Actividad] [varchar](250) NULL,
	[Estatus] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblExamen] ON 

INSERT [dbo].[tblExamen] ([idExamen], [Nombre], [Descripcion]) VALUES (1001, N'Aldo Garduño ', N'Residente de Obras')
INSERT [dbo].[tblExamen] ([idExamen], [Nombre], [Descripcion]) VALUES (1002, N'Juan Daniel Paz Cruz', N'Examen 8')
INSERT [dbo].[tblExamen] ([idExamen], [Nombre], [Descripcion]) VALUES (1003, N'Juliana', N'Examen')
SET IDENTITY_INSERT [dbo].[tblExamen] OFF
GO
SET IDENTITY_INSERT [dbo].[TODOLIST_AGA] ON 

INSERT [dbo].[TODOLIST_AGA] ([ID], [Nombre], [Actividad], [Estatus]) VALUES (14, N'Juan Daniel Paz Cruz', N'Recopilación de Información', N'Por Iniciar')
INSERT [dbo].[TODOLIST_AGA] ([ID], [Nombre], [Actividad], [Estatus]) VALUES (16, N'Oscar Robles ', N'Pruebas unitarias', N'Por Iniciar')
SET IDENTITY_INSERT [dbo].[TODOLIST_AGA] OFF
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZAR]    Script Date: 06/11/2023 02:10:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ACTUALIZAR](
@ID INT,
@Nombre VARCHAR(250),
@Actividad VARCHAR(250),
@Estatus VARCHAR (250)
)
AS
BEGIN
UPDATE TODOLIST_AGA SET   Nombre = @Nombre, Actividad = @Actividad, Estatus = @Estatus WHERE ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[CANTIDADTAREAS]    Script Date: 06/11/2023 02:10:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CANTIDADTAREAS]
AS
BEGIN
	SELECT COUNT(Estatus) AS 'CANTIDAD DE TAREAS',Estatus FROM TODOLIST_AGA GROUP BY ESTATUS
END
GO
/****** Object:  StoredProcedure [dbo].[CONSULTATOTAL]    Script Date: 06/11/2023 02:10:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CONSULTATOTAL]
AS
BEGIN
	SELECT * FROM TODOLIST_AGA
END
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR]    Script Date: 06/11/2023 02:10:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELIMINAR](
@ID INT
)
AS 
BEGIN
DELETE FROM  TODOLIST_AGA WHERE ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[GUARDARACTIVIDAD]    Script Date: 06/11/2023 02:10:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GUARDARACTIVIDAD](
@Actividad varchar(250)
)
AS
BEGIN
	INSERT INTO TODOLIST_AGA(Actividad) VALUES(@Actividad)
END
GO
/****** Object:  StoredProcedure [dbo].[GUARDARESTATUS]    Script Date: 06/11/2023 02:10:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GUARDARESTATUS](
@Estatus varchar(250)
)
AS
BEGIN
	INSERT INTO TODOLIST_AGA(Estatus) VALUES(@Estatus)
END
GO
/****** Object:  StoredProcedure [dbo].[GUARDARUSUARIO]    Script Date: 06/11/2023 02:10:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GUARDARUSUARIO](
@Nombre varchar(250),
@Actividad varchar(250),
@Estatus varchar(250)
)
AS
BEGIN
	INSERT INTO TODOLIST_AGA(Nombre, Actividad, Estatus) VALUES(@Nombre, @Actividad, @Estatus)
END
GO
/****** Object:  StoredProcedure [dbo].[OBTENERUSUARIO]    Script Date: 06/11/2023 02:10:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OBTENERUSUARIO](
@ID INT
)
AS
BEGIN
	SELECT * FROM TODOLIST_AGA WHERE ID=@ID
END
GO
USE [master]
GO
