@model ParametrosEntrada
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://bootswatch.com/5/quartz/bootstrap.min.css">
</head>
<body>

    <div class="d-flex justify-content-center">


        <div class="col-md-5">
            <div class="list-group">

                <div class="list-group-item list-group-item-action flex-column align-items-start active">
                    <form asp-action="Actualizar" asp-controller="Eventos" method="post">
                        <input asp-for="ID" type="hidden" class="form-control">

                        <div class="form-group mt-1">
                            <input asp-for="Nombre" type="text" name="Nombre" class="form-control">
                            <spam asp-validation-for="Nombre" class="text-danger">  </spam>
                        </div>

                        <div class="form-group mt-3">
                            <input asp-for="Actividad" type="text" name="Actividad" class="form-control">
                            <spam asp-validation-for="Actividad" class="text-danger">  </spam>
                        </div>

                        <label for="Selecciona estatus">Selecciona el Estatus de tu Actividad:</label><br />
                        <div class="form-group mt-1">
                            <input type="radio" id="PI" name="Estatus" value="Por Iniciar">
                            <label for="Por Iniciar">Por Iniciar</label>
                            <input type="radio" id="EP" name="Estatus" value="En Proceso">
                            <label for="En Proceso">En Proceso</label>
                            <input type="radio" id="Tmd" name="Estatus" value="Fin de Tarea">
                            <label for="Fin de Tarea">Fin de Tarea</label>

                        </div>


                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary btn-sm">Guardar</button>
                            <a asp-action="Consultar" asp-controller="Eventos" class="btn btn-primary btn-sm">Regresar a consulta</a>
                        </div>




                    </form>



                </div>

            </div>

        </div>
    </div>
</body>
</html>
